html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    width: 50%; 
    background-color: #f3f3f3; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    border-radius: 10px; /* Arredonda as bordas */
}
